{% extends "OCTicketingBundle::layout.html.twig" %}
{% block title %}
   Transaction validée - {{ parent()}}
{% endblock %}

{% block body %}

<h1>{{ 'Whoops, il y a eu un problème'|trans }}</h1>

{% for flashMessage in app.session.flashbag.get('error') %}

    {{ flashMessage }}

{% endfor %}

{% endblock %}

