{% extends "OCTicketingBundle::layout.html.twig" %}
{% block title %}
   Transaction validée - {{ parent()}}
{% endblock %}

{% block body %}

<p>Voici tes tickets, c'est gentil</p>

 {% for ticket in commande.tickets %}
        <strong> Ticket de {{ticket.owner}} </strong>
        <p> pour le {{ticket.bookdate|date('Y-m-d')}}</p>
    {% endfor %}

{% endblock %}