{% extends "OCTicketingBundle::layout.html.twig" %}
{% block title %}
   Page de paiment - {{ parent()}}
{% endblock %}

{% block body %}
<script src="//code.jquery.com/jquery-2.0.2.min.js"></script>
<script src="//js.stripe.com/v2/"></script>

<form action="" method="POST">
  <script
    src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
    data-key="pk_test_feEqQTsoxOWDyQv1bQo688I3"
    data-amount="{{commande.price * 100 }}"
    data-name="Commande "
    data-description="{{commande.tickets|length }} Ticket(s) pour :  {{commande.price }} € "
   {# data-image="/128x128.png"> #}
  </script>
</form>



{% endblock %}