{% extends "OCTicketingBundle::layout.html.twig" %}
{% block title %}
   Transaction validée - {{ parent()}}
{% endblock %}

{% block body %}

<h1>Transaction validée</h1>
<p>Vous avez reçu vos billets par mail pour les personnes suivantes : </p>
 {% for ticket in commande.tickets %}
        <strong> Ticket de {{ticket.owner}} </strong>
        <p> pour le {{ticket.bookdate|date('Y-m-d')}}</p>
    {% endfor %}
<a href="{{ path('oc_ticketing_home') }}">retour à l'accueil</a></li>

{% endblock %}