<p>Hello tout le monde </p>
<form method="post" action="">
    <a> pour quel jour ? </a>
    <input type="date" />
    
    <p>Choissisez vos places </p>
    <input type="radio" name="normal" value="normal" id="normal" /> <label for="normal">Tarif normal</label><br />
    <input type="number" /><p>nombre de place ?</p> 

    <input type="radio" name="enfant" value="enfant" id="enfant" /> <label for="enfant">Tarif enfant</label><br />
    <input type="number" /><p>nombre de place ?</p> 

    <input type="radio" name="reduit" value="reduit" id="reduit" /> <label for="reduit">Tarif normal</label><br />
    <input type="number" /><p>nombre de place ?</p> 


</form>
<a href="{{ path('oc_ticketing_check') }}">Passer à la boutique</a></li>