<p>Donne l'argent maintenant stp</p>
<form method="post" action="">
    <label for="pseudo">Numero carte :</label> <input type="text" >
    <label for="pseudo">date:</label> <input type="text" >
   <label for="pseudo">Cryptogramme </label>  <input type="text" >
</form>
<a href = "{{ path('oc_ticketing_valid') }}">Valider</a>